body {
  height:100vh;
  margin: 0;
}

#root {
  margin: 0px;
  display:grid;
  justify-content:center;
  align-items:center;
  grid-auto-flow: column;
  grid-template-rows: 150px 700px 1fr;
  grid-template-columns: 1fr;
  height:100vh;
}
